*{
    margin: 0;
    padding: 0;
}


.nav-container{
    position: relative;
    height:100vh;
    width:100vw;
    background-image: url(../home-slider2-1.jpg);
    display: flex;
    animation-name: example;
    animation-duration: 4s;
    animation-delay: 2s;
    animation-iteration-count: 3;
    animation-direction: alternate;
    flex-direction: column;

}
@keyframes example {
    from {background-image: url(../home-slider1.jpg);}
    to {background-image: url(../home-slider2-1.jpg);}
  }
@keyframes desc{
    from{opacity: 0;}
    to{opacity:1;}
  }

.nav-bar{    
    height:560px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 35px;
    padding-left: 35px;
    display: flex;
    justify-content: space-between;
}

.info{
    
    margin-top: -300px;
    margin-left: 100px;
    
}

.win{
    
    font-family: "Barlow Semi Condensed",sans-serif;
    color:#ffffff;
    font-size:18.24px;
    line-height:21.88px ;
    text-align: left;
    font-weight: lighter;
    margin-bottom: 20px;
}
.Main{
    font-family: "Barlow Semi Condensed",sans-serif;
    color:#ffffff;
    font-size:64px;
    line-height:76.88px ;
    text-align: left;
    font-weight: lighter;

}

.desc{
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: "Open Sans",sans-serif;
    color:#ffffff;
    font-size:14.52px;
    line-height:27.88px ;
    text-align: start;
    font-weight: lighter;
    letter-spacing: normal;
    animation-name: desc;
}

.btn{
    background-color: #ffffff;
    margin-top: 10px;
    border-radius:6px;
    box-shadow:rgba(0,0,0,0.25) 0px 20px 30px -5px; 
    font-size:13.68px;
    line-height: 13.68px;
    font-weight: bold;
    font-size: large;
    cursor: pointer;
    letter-spacing: 2px;
    text-align: center;
    margin-left: -1200px;
    width:222px;
    height:53px;
    font-family: "Open-sans",sans-serif;
    color:#4f4f4f;
}

.links{
    padding: 0px;
    margin:0;
    display: flex;
    gap: 100px;
}
.home {
    
    padding: 0;
    margin:0px;
    font-family:"Open Sans";
    font-size: 45px;
    font-style: normal;
    color:whitesmoke;
    text-decoration: none;
    text-decoration: underline;
    
}
.icon{
    position: relative;
    padding-top:15px;
    margin:0px;
    font-family:"Open Sans";
    font-size: 50px;
    font-style: normal;
    color: whitesmoke;
    text-decoration: none;
}
.overlay{
     /* Sit on top of the page content */
     /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(27, 26, 26, .7); /* Black background with opacity */
}